<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>View弹层</string>
		<key>canPush</key>
		<false/>
		<key>page</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Html页面</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>HtmlViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更改颜色</string>
		<key>canPush</key>
		<false/>
		<key>page</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ音乐提示</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>QQMusicWarnViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>search</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>SearchDemoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>底图拉伸</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>StretchViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>test</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>AllGroupViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微信支付</string>
		<key>canPush</key>
		<false/>
		<key>page</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>AVPlayer</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>AVPlayerViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PayHUD</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>PayHUDViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>AliPayHome</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>AliPayHomeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>AFNetworking</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>AFNetworkViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>屏幕录制</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>ScreenRecordViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>指纹识别</string>
		<key>canPush</key>
		<false/>
		<key>page</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>小视频</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>VideoRecordViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>滑动切换图片</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>SlideChangePhotoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拼图游戏</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>PuzzleViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UITextView限制字数</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>TextViewLimitedViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UITextField限制</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>TextFieldLimitedViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更换APP Icon</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>ChangeIconViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UITextField输入限制</string>
		<key>canPush</key>
		<true/>
		<key>page</key>
		<string>NewTextFieldViewController</string>
	</dict>
</array>
</plist>
