<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>为你推荐歌单</string>
		<key>content</key>
		<array>
			<dict>
				<key>iconImage</key>
				<string>001.jpg</string>
				<key>descript</key>
				<string>今日推荐歌曲</string>
				<key>numbers</key>
				<string></string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>002.jpg</string>
				<key>descript</key>
				<string>听完这100首独白情歌我想谈恋爱</string>
				<key>numbers</key>
				<string>595万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>003.jpeg</string>
				<key>descript</key>
				<string>失眠，像一场明知故犯的恋情</string>
				<key>numbers</key>
				<string>135.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>004.jpeg</string>
				<key>descript</key>
				<string>「华语」一不小心歌单就抬杠系列</string>
				<key>numbers</key>
				<string>178.7万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>005.jpeg</string>
				<key>descript</key>
				<string>史上最搞笑洗脑神曲让你笑翻天</string>
				<key>numbers</key>
				<string>131.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>006.jpeg</string>
				<key>descript</key>
				<string>伴你午间小憩的华语温润女声</string>
				<key>numbers</key>
				<string>61.2万</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>最新专辑</string>
		<key>content</key>
		<array>
			<dict>
				<key>iconImage</key>
				<string>007.jpeg</string>
				<key>descript</key>
				<string>今日推荐歌曲</string>
				<key>numbers</key>
				<string></string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>008.jpeg</string>
				<key>descript</key>
				<string>听完这100首独白情歌我想谈恋爱</string>
				<key>numbes</key>
				<string>595万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>009.jpeg</string>
				<key>descript</key>
				<string>失眠，像一场明知故犯的恋情</string>
				<key>numbers</key>
				<string>135.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>010.jpeg</string>
				<key>descript</key>
				<string>「华语」一不小心歌单就抬杠系列</string>
				<key>numbers</key>
				<string>178.7万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>011.jpeg</string>
				<key>descript</key>
				<string>史上最搞笑洗脑神曲让你笑翻天</string>
				<key>numbers</key>
				<string>131.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>012.jpeg</string>
				<key>descript</key>
				<string>伴你午间小憩的华语温润女声</string>
				<key>numbers</key>
				<string>61.2万</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>为你推荐歌单</string>
		<key>content</key>
		<array>
			<dict>
				<key>iconImage</key>
				<string>013.jpeg</string>
				<key>descript</key>
				<string>今日推荐歌曲</string>
				<key>numbers</key>
				<string></string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>014.jpeg</string>
				<key>descript</key>
				<string>听完这100首独白情歌我想谈恋爱</string>
				<key>numbes</key>
				<string>595万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>015.jpeg</string>
				<key>descript</key>
				<string>失眠，像一场明知故犯的恋情</string>
				<key>numbers</key>
				<string>135.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>016.jpg</string>
				<key>descript</key>
				<string>「华语」一不小心歌单就抬杠系列</string>
				<key>numbers</key>
				<string>178.7万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>017.jpg</string>
				<key>descript</key>
				<string>史上最搞笑洗脑神曲让你笑翻天</string>
				<key>numbers</key>
				<string>131.9万</string>
			</dict>
			<dict>
				<key>iconImage</key>
				<string>018.jpg</string>
				<key>descript</key>
				<string>伴你午间小憩的华语温润女声</string>
				<key>numbers</key>
				<string>61.2万</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
