<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>http://s8.sinaimg.cn/mw690/006dpRNTzy6VEkXRRm737</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1533297994581&amp;di=f9cd7096b74bfcabcc1491741987f4f0&amp;imgtype=0&amp;src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F11%2F67%2F23%2F69i58PICP37.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2980646688,2456398145&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>绕弯儿</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=922160450,2096982393&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4063039131,4011275257&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1390968515,2506022214&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3628202595,3868206797&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法1</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1819428708,2331366398&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3795944825,3985898323&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1212979566,3387549137&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1445878253,3325314760&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4068311463,4153773766&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3534834675,3461908839&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法2</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string></string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2046594754,1420566270&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3518869820,4126561330&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2511173233,3707122765&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=312351129,88334739&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1720240883,1725038512&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2407088782,1142359299&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
	<dict>
		<key>headImage</key>
		<string>we-head</string>
		<key>nickName</key>
		<string>爱上的看法</string>
		<key>content</key>
		<string>很多时候Objective-C自带的cell样式根本无法满足我们的开发需求，身边又会有产品美工时不时盯着，一点偏差都不能有，于是不得不自己去创建cell。自定义cell的最简便方式就是在tableview的cellforrow方法里去布局cell的样式，但这样就不可避免的会造成Controller代码量超多，非常臃肿，因此实际开发中我们应当多应用封装的思想。</string>
		<key>mediaType</key>
		<string>photo</string>
		<key>mediaContent</key>
		<array>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
			<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2709538733,1515106378&amp;fm=27&amp;gp=0.jpg</string>
		</array>
		<key>time</key>
		<string>1小时前</string>
		<key>address</key>
		<string>河北 保定</string>
		<key>open</key>
		<false/>
	</dict>
</array>
</plist>
