<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapKind</key>
	<string>2</string>
	<key>road-event</key>
	<string>0</string>
	<key>hot-diagram</key>
	<string>0</string>
	<key>collection-point</key>
	<string>0</string>
	<key>theme-map</key>
	<string>0</string>
	<key>road-open</key>
	<string>0</string>
	<key>RealScene</key>
	<string>0</string>
</dict>
</plist>
