<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UITextField</key>
	<array>
		<dict>
			<key>title</key>
			<string>UITextField-输入字数限制</string>
			<key>openPage</key>
			<string>UITextFieldViewController</string>
			<key>descript</key>
			<string>UITextField-Input word number restriction</string>
			<key>canPush</key>
			<true/>
		</dict>
	</array>
	<key>UILabel</key>
	<array/>
	<key>UITextView</key>
	<array>
		<dict>
			<key>title</key>
			<string>UITextView-输入字数限制</string>
			<key>openPage</key>
			<string>UITextFieldViewController</string>
			<key>descript</key>
			<string>UITextView-Input word number restriction</string>
			<key>canPush</key>
			<true/>
		</dict>
	</array>
	<key>UIWebView</key>
	<array>
		<dict>
			<key>title</key>
			<string>UIWebView</string>
			<key>openPage</key>
			<string>UIWebViewController</string>
			<key>descript</key>
			<string>UIWebView</string>
			<key>canPush</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
