<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string>1</string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string>1</string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦wedsje第三节放假奥拉夫假按揭发酵按揭房垃圾是的发生</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string>1</string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
	<dict>
		<key>text</key>
		<string>额外若脱加了阿双方了解了突击阿斯蒂芬垃圾桶有哦we</string>
		<key>type</key>
		<string></string>
		<key>time</key>
		<string>11:00</string>
	</dict>
</array>
</plist>
