<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>singer</key>
		<string>阿德</string>
		<key>song</key>
		<string>曾经我也想过一了百了</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>阿肆,郭采洁</string>
		<key>song</key>
		<string>世界上的另一个我</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>阿肆,林宥嘉</string>
		<key>song</key>
		<string>致姗姗来迟的你</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>陈绮贞</string>
		<key>song</key>
		<string>我喜欢上你时的内心活动</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>大乔小乔</string>
		<key>song</key>
		<string>农夫渔夫</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>方大同</string>
		<key>song</key>
		<string>每个人都会</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>高姗</string>
		<key>song</key>
		<string>遇见你的时候所有星星都落到我头上</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>金志文</string>
		<key>song</key>
		<string>那盏茶</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>兰芽yaya</string>
		<key>song</key>
		<string>漫步在岁月洪流</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>李荣浩</string>
		<key>song</key>
		<string>少年</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>song</key>
		<string>兜圈</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>刘讴文</string>
		<key>song</key>
		<string>不要</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孟凡明</string>
		<key>song</key>
		<string>只只</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>三亩地</string>
		<key>song</key>
		<string>城南花已开</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>双棒儿</string>
		<key>song</key>
		<string>谁说我不在乎</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>苏琛</string>
		<key>song</key>
		<string>我多喜欢你，你会知道（Cover 王俊琪）</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>王贰浪</string>
		<key>song</key>
		<string>往后余生</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>王俊琪</string>
		<key>song</key>
		<string>我对喜欢你，你会知道</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>吴建豪</string>
		<key>song</key>
		<string>小婚礼</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>五月天</string>
		<key>song</key>
		<string>拥抱</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>徐梦圆,银临</string>
		<key>song</key>
		<string>知了的歌</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>张靓颖</string>
		<key>song</key>
		<string>日落大道</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>赵雷</string>
		<key>song</key>
		<string>少年锦时</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>中岛美嘉</string>
		<key>song</key>
		<string>曾经我也想过一了百了</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Ayo97,是阿涵阿</string>
		<key>song</key>
		<string>感谢你曾来过</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Boyce Avenue</string>
		<key>song</key>
		<string>A Thousand Years</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Christina Perri</string>
		<key>song</key>
		<string>A Thousand Years</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Infinite</string>
		<key>song</key>
		<string>Can You Smile</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>James Blunt</string>
		<key>song</key>
		<string>You&apos;re beautiful</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Jason Mraz</string>
		<key>song</key>
		<string>I&apos;m Yours</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Martin Steiner</string>
		<key>song</key>
		<string>Lost Rivers</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>Overwerk</string>
		<key>song</key>
		<string>Daybreak (GoPro HERO3 Edit)</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>TWICE</string>
		<key>song</key>
		<string>乌龟</string>
		<key>type</key>
		<string>mp3</string>
		<key>lrcType</key>
		<string>lrc</string>
	</dict>
</array>
</plist>
