<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>video</key>
		<string>https://s3.bytecdn.cn/aweme/resource/web/static/image/index/new-tvc_889b57b.mp4</string>
		<key>title</key>
		<string>抖音官网视频</string>
		<key>size</key>
		<string>37.6M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://video.699pic.com/videos/31/42/31/b5pEmA9ujS1I1534314231.mp4</string>
		<key>title</key>
		<string>传统文化</string>
		<key>size</key>
		<string>50.26M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/19/5b4b8228-e693-4280-9c21-49cba178ae44.mov</string>
		<key>title</key>
		<string>超慢运动的雨滴</string>
		<key>size</key>
		<string>36.76M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/02/893d03a3-c7b1-4c62-adce-a5a4fdb4aac1.mp4</string>
		<key>title</key>
		<string>香港回归</string>
		<key>size</key>
		<string>16.25M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/18/aa475bde-a707-48d9-b9b5-c0c64cd0a86b.mov</string>
		<key>title</key>
		<string>秋天的落叶</string>
		<key>size</key>
		<string>3.36M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/19/9c499ca2-1bd9-4561-b404-c58099af03e8.mp4</string>
		<key>title</key>
		<string>时间流逝:白天到夜晚的城市</string>
		<key>size</key>
		<string>3.04M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/18/85ca00dc-7e57-422c-841a-5a1606ef2271.mp4</string>
		<key>title</key>
		<string>云尕UHD</string>
		<key>size</key>
		<string>23.25M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/18/9e1d06a6-2e0a-4e29-bafc-027e808dbdbc.mp4</string>
		<key>title</key>
		<string>步行穿过大麦田</string>
		<key>size</key>
		<string>29.65M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/19/f2330cfe-df2a-44c4-abcd-6ed13da9ab78.mov</string>
		<key>title</key>
		<string>交通从焦点的背景虚化背景</string>
		<key>size</key>
		<string>6.50M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/02/ca9ec254-9999-405b-b5b2-7694342a9d62.mp4</string>
		<key>title</key>
		<string>工作空间</string>
		<key>size</key>
		<string>8.01M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/19/6f20f381-07f9-4b6e-9155-1fd782a1eab2.mov</string>
		<key>title</key>
		<string>阳光和树叶</string>
		<key>size</key>
		<string>5.91M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/05/14c2e3e9-9594-4638-862d-d5b313922b42.mp4</string>
		<key>title</key>
		<string>香港回归</string>
		<key>size</key>
		<string>45.17M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/02/6a8bda54-7e55-4e4c-a681-1b86e9f734c1.mp4</string>
		<key>title</key>
		<string>斑马线</string>
		<key>size</key>
		<string>4.8M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://video.699pic.com/videos/73/76/99/9m6rEqaM4G5G1514737699_10s.mp4</string>
		<key>title</key>
		<string>迷人仙境</string>
		<key>size</key>
		<string>127.8M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://img95.699pic.com/videos/2016/09/02/a57720b3-fed9-4bd8-a505-25030727b0f9.mp4</string>
		<key>title</key>
		<string>雾</string>
		<key>size</key>
		<string>7.6M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://video.699pic.com/videos/62/34/06/EyYYHNjMG5rZ1523623406.mp4</string>
		<key>title</key>
		<string>清新迷人茉莉花背景视频</string>
		<key>size</key>
		<string>266.7M</string>
	</dict>
	<dict>
		<key>video</key>
		<string>http://video.699pic.com/videos/89/97/67/s1QUUd91YgaS1521899767.mp4</string>
		<key>title</key>
		<string>有机栽培农产品视频</string>
		<key>size</key>
		<string>207.3M</string>
	</dict>
</array>
</plist>
